.git
.gitattributes
.gitignore
.editorconfig
.env
.env.backup
.env.production
.phpunit.result.cache
.phpunit.cache
.vscode
.idea
.fleet
.nova
.zed
vendor
node_modules
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
public/build
public/hot
public/storage
docs
tests
README.md
